<div class="modal">
    <div class="bar bar-header bar-stable bar-positive">
      <h1 class="title">Bluetooth Devices</h1>
      <button class="button icon ion-close" ng-click="closeModal()"></button>
    </div>
    <ion-content class="has-header">
      <ion-list>
        <!-- <ion-item ng-show = "!devices">
          Scanning...
        </ion-item> -->
        <ion-item ng-click="connectBluetoothDevice({{device}})" ng-repeat="device in devices" type="button">
          <h1>{{device.name}}</h1>
          {{device.address}}
        </ion-item>
      </ion-list>
    </ion-content>
</div>
